$nav-color:rgba(234, 143, 61, 0.37);
$font: 'Economica',
sans-serif;
$white: rgb(255, 255, 255);
$border-white: rgba(255, 255, 255, 0.507);
$border-button:rgba(0, 0, 0, 0.24);

$white: #fff;
$black: rgb(100, 98, 98);
$lightergray: #cfcece;
$lightgray: #e6ece8;
$gray: #ddd5d5;
$text: rgb(133, 129, 129);
$button: #3e3e3f;
$button-hover: #525253;

$xs-breakpoint: 0;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xx-breakpointl: 1400px;