.dishes {
  background-color: #ddd;
  width: 80%;
  height: 500px;
  margin: 50px auto 20px;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  align-items: center;
  position: relative;

  .plate {
    background-color: #fff;
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    box-shadow: inset 0 0 5px 1px #aaa, 5px 5px 15px 1px #444;

    &::before {
      content: "";
      position: absolute;
      top: 5vh;
      left: 5vh;
      width: 30vh;
      height: 30vh;
      background-color: #fefefe;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 0 0 15px 1px rgb(216, 216, 216), inset 0 0 15px 1px #ddd, inset 7px 7px 10px 3px #888, inset 0 0 10px 15px #fff;
    }

    &:hover .heart {
      display: block;
    }

    .bin {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 50px;
      transform: translate(-45%, -50%);
      z-index: 1;
      cursor: pointer;

      i {
        color: #f3d1d1;

        &:hover {
          color: #e4b2b2;
        }
      }
    }

    .heart {
      display: none;
      background-color: #f3d1d1;
      height: 30px;
      margin: 0 10px;
      position: absolute;
      top: 50%;
      left: 47%;
      transform: rotate(-45deg) translate(0%, -60%);
      width: 30px;
      z-index: 1;
      border-radius: 5px;
      cursor: pointer;
      
      &:hover {
        background-color: #e4b2b2;
        display: block;

        &:after,
        &:before {
          background-color: #e4b2b2;
        }
      }

      &:before,
      &:after {
        content: "";
        background-color: #f3d1d1;
        border-radius: 50%;
        height: 30px;
        position: absolute;
        width: 30px;
      }

      &:before {
        top: -15px;
        left: 0;
      }

      &:after {
        left: 15px;
        top: 0;
      }
    }
  }
  // .plate {
  //   background-color: #fff;
  //   width: 40vh;
  //   height: 40vh;
  //   border-radius: 50px;
  //   margin: 0 auto;
  //   position: relative;
  //   box-shadow: inset 0 0 5px 1px #aaa, 5px 5px 15px 1px #444;

  //   &::before {
  //     content: "";
  //     position: absolute;
  //     top: 5vh;
  //     left: 5vh;
  //     width: 30vh;
  //     height: 30vh;
  //     background-color: #fefefe;
  //     border-radius: 30px;
  //     box-shadow: 0 0 15px 1px rgb(216, 216, 216), inset 0 0 15px 1px #ddd, inset 7px 7px 10px 1px #555;
  //     background-image: url();
  //   }
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     top: 5vh;
  //     left: 5vh;
  //     width: 30vh;
  //     height: 30vh;
  //     border-radius: 30px;
  //     background-position: center;
  //     background-size: cover;
  //     background-repeat: no-repeat;
  //     box-shadow: inset 7px 7px 10px 10px rgb(134, 134, 134), inset 0 0 15px 20px #fff,

  //   }
  // }
  .knife {
    box-sizing: border-box;
    height: 40vh;
    width: 2.5vh;
    background-color: #fff;
    position: relative;
    border-radius: 3px;
    box-shadow: 5px 5px 15px 1px #444;

    &::before {
      box-sizing: border-box;
      content: "";
      position: absolute;
      width: 14vh;
      height: 5vh;
      top: 0;
      right: 24px;
      width: 0;
      height: 0;
      border-bottom: 170px solid #fff;
      border-left: 20px solid transparent;
      box-shadow: inset 0 0 5px 1px #aaa;
      z-index: 2px;
    }
  }

  .fork {
    box-sizing: border-box;
    height: 40vh;
    width: 2.5vh;
    background-color: #fff;
    position: relative;
    border-radius: 3px;
    box-shadow: 5px 5px 15px 1px #444;
  }
}
