nav {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1200px) {
    padding-top: 15px;
  }

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4vw;
  }

  ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: flex-start;
      margin: 10px 0 25px 0px;
      font-size: 16px;
    }

    li {
      margin-top: 10px;
      padding: 0 6px;
      text-align: center;

      @media (max-width: 1200px) {
        font-size: 14px;
        letter-spacing: -0, 5px;
      }

      a {
        margin-top: 50px;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        color: #aaa;
        transition: 0.3s;

        &:hover {
          color: #222;
          border-bottom: 1px solid #222;
        }
      }
    }
  }

  .logo {
    width: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 50px;
    cursor: pointer;

    @media (max-width: 1200px) {
      margin-left: 20px;
    }
    @media (max-width: 900px) {
      margin-left: 5px;
    }

    img {
      width: 40px;
      height: 40px;
    }

    .name {
      font-family: "Pacifico", cursive;
      letter-spacing: 2px;
      color: #e4b2b2;
      margin-left: 15px;
      font-size: 30px;

      @media (max-width: 1200px) {
        font-size: 20px;
      }
      @media (max-width: 900px) {
        padding: -5px;
      }
    }
  }
}
