<div class="categories-block">
    <p class="categories-title">Categories</p>

    <button
      class="cat-btns"
      value="Adventure"
      onclick="clickAndSearchMovieList(this.value)"
    >
    Adventure
    </button>
    <button
      class="cat-btns"
      value="Family"
      onclick="clickAndSearchMovieList(this.value)"
    > 
    Family
    </button>
    <button
      class="cat-btns"
      value="Drama"
      onclick="clickAndSearchMovieList(this.value)"
    > 
    Drama
    </button>
    <button
      class="cat-btns"
      value="Science fiction"
      onclick="clickAndSearchMovieList(this.value)"
    >
    Science fiction
    </button>
    <button
      class="cat-btns"
      value="Comedy"
      onclick="clickAndSearchMovieList(this.value)"
    >
    Comedy
    </button>
    <button
      class="cat-btns"
      value="Documentary"
      onclick="clickAndSearchMovieList(this.value)"
    >
    Documentary
    </button>
</div>
