<p class="categories">Categories</p>

<button
  id="adventure-list"
  value="Adventure"
  onclick="clickAndSearchMovieList(this.value)"
>
  <p class="Adventure-list">Adventure</p>
</button>
<button
  id="family-list"
  value="Family"
  onclick="clickAndSearchMovieList(this.value)"
> 
  <p class="family-list">Family</p>
</button>
<button
  id="drama-list"
  value="Drama"
  onclick="clickAndSearchMovieList(this.value)"
> 
  <p class="drama-list">Drama</p>
</button>
<button
  id="science-fiction-list"
  value="Science fiction"
  onclick="clickAndSearchMovieList(this.value)"
>
  <p class="science-fiction-list">Science fiction</p>
</button>
<button
  id="comedy-list"
  value="Comedy"
  onclick="clickAndSearchMovieList(this.value)"
>
  <p class="categories-list">Comedy</p>
</button>
<button
  id="documentary-list"
  value="Documentary"
  onclick="clickAndSearchMovieList(this.value)"
>
  <p class="documentary-list">Documentary</p>
</button>