body {
  color: #333;
  font-family: arial;
  max-width: 780px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: row;
}

.movie-main {
  // flex-grow: 1;
  border-color: #0f0;
  border-style: dotted;
}

.movie-list {
  // flex-grow: 1;
  border-color: #f00;
  border-style: dotted;
}

footer {
  color: #888;
  border-top: 1px solid #eee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  // margin-bottom: 16px;
}

header a {
  color: #888;
  margin-right: 16px;
  text-decoration: none;
}

input {
  border: 1px solid #ccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888;
  background: #888;
  color: #fff;
  padding: 8px;
}

form {
  display: flex;
  margin: auto;
  justify-content: flex-end;
}

.categories {
  color: #888;
  text-decoration: none;
  margin-top: 20vh;
  max-width: 14vw;
}
