@import "./styles/sideBar";
@import "./styles/navBar";
@import "./styles/dishes";
@import "./styles/recipe";
@import "./styles/modal";
@import "./styles/notification";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  outline: none;
}

main {
  position: absolute;
  width: 70%;
  padding: 10px;
}
