h1 {
  font-size: 80px;
  margin-top: 20px;
  color: #212121;
}

h2 {
  color: #212121;
}

.text-center {
  color: #1f1d1d;
  margin: 10px 0 40px 0;
}

.album {
  overflow: scroll;
  max-height: 40rem;
}

.form-inline {
  justify-content: center;
}

.allCats {
  display: block;
}

.description {
  width: 50rem;
  height: 15rem;
  margin-top: 50px;
}

.card-body {
  max-width: 15rem;
  max-width: fit-content;
}

.addNewCat {
  height: 15rem;
  display: none;
}

.plus-button {
  display: flex;
  justify-content: center;
}

.btn {
  box-shadow: none;
  outline: none;
}

button:focus {
  outline: none;
}

.card.mb-3 {
  min-height: 30rem;
}

.refresh-color {
  color: #205493;
}

.save-color {
  color: #2e8540;
}

.cancel-color {
  color: #cd2026;
}

.add-color {
  color: rgb(240, 38, 72);
}
