.profile {
  width: 90vw;
  height: 90vh;
  margin: 50vh 0 0 50vw;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  .market {
    position: absolute;
    top: 5%;
    left: 3%;
    padding: 7px 18px;
    font-size: 1.5rem;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: $background;
    background-image: $background;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      background-image: none;
    }
  }
  .userData {
    flex-basis: 50%;
    text-align: center;
    font-size: 2.4rem;
    color: $base-color;
    &__nameData,
    &__emailData,
    &__walletData {
      color: white;
    }
    * {
      margin-top: 12px;
    }
  }
  .deposit {
    width: 270px;
    height: 200px;
    margin-left: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    &__title {
      font-size: 3rem;
      flex-basis: 100%;
      transform: translateY(-60%);
      text-align: center;
      letter-spacing: 1px;
      color: white;
    }
    &__button {
      width: 85px;
      height: 40px;
      font-size: 2.7rem;
      font-weight: bold;
      border: 4px solid;
      border-image-slice: 4;
      border-image-source: $background;
      color: white;
      background-color: rgba(255, 255, 255, 0);
      cursor: pointer;
      &:hover {
        background-image: $background;
      }
    }
    &__pay {
      background-image: $background;
      &:hover {
        background-image: none;
      }
    }
  }
}

// JS
.activePayment {
  background-image: $background;
}

.profile {
  display: flex;
  flex-direction: column;
}
