.stock {
  width: 90vw;
  height: 90vh;
  margin: 50vh 0 0 50vw;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  overflow-y: scroll;
  .userData {
    position: fixed;
    width: 500px;
    padding-top: 15px;
    font-size: 2.4rem;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__equity {
      color: white;
    }
    &__amount {
      color: $base-color;
    }
    &__profile {
      padding: 7px 18px;
      font-size: 1.5rem;
      border: 2px solid;
      border-image-slice: 1;
      border-image-source: $background;
      background-image: $background;
      color: white;
      background-color: rgba(255, 255, 255, 0);
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        background-image: none;
      }
    }
  }
  .data {
    width: 95%;
    height: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    &__chart {
      flex-basis: 45%;
      height: 80%;
      background-color: rgba(218, 218, 218, 0.253);
    }
    &__form {
      width: 100px;
      margin-left: 20px;
      text-align: center;
    }
    &__count {
      width: 60px;
      margin-top: 15px;
      padding: 2px;
      font-size: 2rem;
      border: 1px solid black;
    }
    &__button {
      width: 75px;
      height: 35px;
      margin-top: 5px;
      font-size: 2rem;
      letter-spacing: 1px;
      font-weight: bold;
      border: 2px solid;
      border-image-slice: 1;
      border-image-source: $background;
      color: white;
      background-color: rgba(255, 255, 255, 0);
      cursor: pointer;
      &:hover {
        background-image: $background;
      }
    }
    &__quanitity {
      margin-top: 9px;
      font-size: 2rem;
      color: white;
    }
  }
}
